/* apply a natural box layout model to all elements, but allowing components to change */
html {
    background-color: rgb(37, 33, 33);
    box-sizing: border-box;
  }
  :before, *:after {
    box-sizing: inherit;
  }

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    background-color: rgb(37, 33, 33);
    width: 100%;
    height: 100%;
}

h1{
    background-color: white;
}

main{
    background-color: rgb(37, 33, 33);
}

ul {list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: #04AA6D;
}

.box2{
    background-color: red;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    /*Esto es para que no amumente el tamaño de 150 px*/
    box-sizing: border-box;

}

.box1{
    background-color: red;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    /*Esto es para que no amumente el tamaño de 150 px*/
    box-sizing: border-box;

}
p{
    color: aliceblue;
}
h2{
    color: aqua;
}
.txtFoto img{
    padding: 0;
}

.info{
    color: purple;
}

.descrip{
    color: white;
}
article{
    background-color: rgb(37, 33, 33);
}
footer{
    background-color: red;
    padding: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.piePagina{
    text-align: center;
}

.nv1{
    width: 85%;
}

.nv2{
    width: 85%;
}

.nv3{
    width: 85%;
}

label{
    color: lightblue;
}

.usuario{
    color: aquamarine;
    text-decoration: none;
}