/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    
    
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .gestion {
    text-align: center;
    margin-bottom: 30px;
  }
  
  a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  



  a:hover {
    background-color: #0056b3;
  }
  
  /* Estilos de la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    vertical-align: middle; /* Agregado: alinea verticalmente el contenido */
  }
  
  .table th {
    background-color: #efefef;
    font-weight: bold;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Estilos del formulario */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 20%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #0056b3;
  }

.subir{

    text-align: center;
}




  /* styles.css */

/* Estilo para el contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    
  }
  .container-fluid {
    background-color: #f2f2f2;
  }
  
  /* Estilo para el título principal */
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .for {
  
    display: flex;
  }
  
  /* Estilo para el botón de cerrar sesión 
  .btn-danger {
    margin-top: 20px;
    margin-left: auto;
    display: block;
    
  }*/
  
  /* Estilo para los datos */
  .datos {
    margin-top: 40px;
    max-width: 400px;
  }
  
  /* Estilo para el título de los datos */
  .datos h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Estilo para la lista de datos */
  .datos ul {
    list-style: none;
    padding: 0;
  }
  
  /* Estilo para cada ítem de la lista de datos */
  .datos li {
    margin-bottom: 10px;
  }
  
  /* Estilo para las etiquetas de los datos */
  .datos label {
    font-weight: bold;
  }
  
  /* Estilo para los valores de los datos */
  .datos span {
    margin-left: 10px;
  }
  
  .card {
    background-color: #f8f9fa; /* Cambia el valor al color deseado */
  }
  .card1{
    
    background-color: #f2f2f2
  }
  
  .dark-text {
    color: #333; /* Color de texto oscuro, puedes cambiar el valor según tus preferencias */
  }
  
  .aco{

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .accordion{
    width: 50%;
  }
  .cardar{
    width: 50%;
    border: 50px;
  }
  .subir {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  