.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card.card-sm {
  max-width: 300px;
  margin: 0 auto;
}
.card{
  overflow: auto;
}

  .card {
    background: linear-gradient(#FADADD, #9d9cca);
    width: 400px;
    background-color: #f8f9fa;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
  }